@import url('https://fonts.googleapis.com/css?family=Courgette');

html {
    background-image: url(https://img.freepik.com/free-photo/grunge-vintage-old-paper-background_1373-431.jpg?size=626&ext=jpg);
}

body {background-image: url(https://img.freepik.com/free-photo/grunge-vintage-old-paper-background_1373-431.jpg?size=626&ext=jpg);
    font-family: 'Courgette', cursive;}

h1 {text-align: center;}

h2 {text-align: center;}

h3 {text-decoration: underline;
    text-align: center;}

h4 {text-align: center;}

h5 {display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;} /*two cities*/

p {font-size:110%;}

div {display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;}

div.pb {border-bottom: 5px solid black} /*Jupiter*/
hr {border-bottom: 5px solid black; background-color: black;} /*two cities and doll*/

img {border-radius: 10%;
    filter: blur(1px) grayscale(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    mix-blend-mode: multiply;}

pre {background-color:rgba(50,50,50,.5); font-family: 'Courgette', cursive;}

i {text-align: center;} /*two cities*/

dl {background-color:rgba(50,50,50,.5);} /*Jupiter*/

span {font-weight: bold;}

span.pb {font-weight: normal;} /*Jupiter*/

